:root {
  --font-main: "Noto Sans", sans-serif;
  --bg-main: #131417;
  --bg-card: #1e1f26;
  --bg-stats: #131417;
  --username: #b7bbc8;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-main);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  background: var(--bg-card);
  padding: 20px;
}

.card-body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  margin: 20px 0;
}

.card-body img {
  border-radius: 22px;
}

.card-thumbnail img {
  border-radius: 12px;
}

.card-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-details h3 {
  margin: 0;
}

.card-details p {
  margin: 10px 0;
}

/* .card-stats {
  visibility: hidden;
} */

/* hiding the likes  */
.card:hover .card-stats {
  visibility: visible;
}
