:root {
  --font-main: "Noto Sans", sans-serif;
  --bg-main: #131417;
  --bg-card: #1e1f26;
  --bg-stats: #131417;
  --username: #b7bbc8;
}

html,
body {
  margin: 0;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  border: 3px solid var(--bg-card);
  max-width: 500px;
}

.card-body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card-body img {
  border-radius: 22px;
}

.card-thumbnail img {
  border-radius: 12px;
}
